<!DOCTYPE html>
<html lang="de">
<head>
	<title><% title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="114. Innerschweizer Schwing- & Älplerfest - 5. Juli 2020 in Ibach-Schwyz" />
	<link href="/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
	<link rel="stylesheet" href="/dist/css/lightbox.min.css">
	<script src="/layout/scripts/jquery.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body id="top">
<a id="isafmini" href="/"><img src="/images/logo_isaf_150.png"></a>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
<div class="logo_400" style="position:fixed;top:20px;right:40px"><img src="/images/logo_isaf_360.png"></div>
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
	<p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQCAQAAADFUcJQAAAAFElEQVR42mNkYGAcRaNoFI2ioYAAsLUBkdmEbfIAAAAASUVORK5CYII=" alt=""></p>
	
	
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="nav-wrapper">
<div class="wrapper row4">
	<div class="nav">
    <nav id="mainav">
      <ul class="clear">
        <li <%acthome%>><a class="menurw" href="/">Home</a></li>
		<li <%actfotos%>><a class="menurw" href="/fotos">Fotos</a></li>
        <li <%actbesucher_helfer%>><a class="menurw" href="/helfer">Besucher / Helfer</a>
          <ul>
            <li><a href="/festinfos">Festinfos</a></li>
			<li><a href="/festprogramm">Festprogramm</a></li>
            <li><a href="/tickets">Tickets</a></li>
			<li><a href="/helfer">Helfer</a></li>
			<li><a href="/besucher">Besucher</a></li>
			<li><a href="/festgelaende">Festgel&auml;nde</a></li>
          </ul>		
		</li>		
        <li <%actgaben%>><a class="menurw" href="/gaben">Gaben</a>
          <ul>
            <li><a href="/gaben;gaben">Gaben</a></li>
            <li><a href="/gaben;lebendpreise">Lebendpreise</a></li>
			<li><a href="/gaben;schwingerfreunde">Schwingerfreunde</a></li>
			<li><a href="/gaben;festfuehrer">Festf&uuml;hrer</a></li>
          </ul>		
		</li>		
        <li <%actschwingen%>><a class="menurw" href="#">Schwingen</a>
          <ul>
            <li><a href="/schwingen;schwingerliste">Schwingerliste</a></li>
            <li><a href="/schwingen;programmschwingfest">Programm Schwingfest</a></li>
			<li><a href="/schwingen;ehrendamen">Ehrendamen</a></li>
			<li><a href="/schwingen;steinstossen">Steinstossen</a></li>
          </ul>		
		</li>
        <li <%actsponsoren%>><a class="menurw" href="#">Sponsoren</a>
          <ul>
            <li><a href="/sponsoren;fest-partner">Fest-Partner</a></li>
            <li><a href="/sponsoren;schwing-partner">Schwing-Partner</a></li>
			<li><a href="/sponsoren;kranz-partner">Kranz-Partner</a></li>
			<li><a href="/sponsoren;personal-partner">Personal-Partner</a></li>
			<li><a href="/sponsoren;arena-partner">Arena-Partner</a></li>
			<li><a href="/sponsoren;ring-partner">Ring-Partner</a></li>
			<li><a href="/sponsoren;medien-partner">Medien-Partner</a></li>			
          </ul>		
		</li>
        <li <%actkontakt%>><a class="menurw" href="#">Kontakt</a>
          <ul>
		    <li><a href="/infos_ok">***Infos OK***</a></li>
            <li><a href="/kontakt;kontaktformular">Kontaktformular</a></li>
            <li><a href="/kontakt;organisationskommite">Organisationskommite</a></li>
			<li><a href="/kontakt;medienakkreditierung">Medienakkreditierung</a></li>
			<li><a href="/kontakt;organigramm">Organigramm</a></li>
			<li><a href="http://www.mythenverband.ch/">Schwingerverband am Mythen</a></li>
			<li><a href="/admin">***Admin***</a></li>			
          </ul>		
		</li>		
      </ul>
    </nav>
	</div>
</div>
</div>


<script src="jquery.min.js"></script>
<script>
// cache the element
var $navBar = $('.nav');

// find original navigation bar position
var navPos = $navBar.offset().top;

// on scroll
$(window).scroll(function() {

    // get scroll position from top of the page
    var scrollPos = $(this).scrollTop();

    // check if scroll position is >= the nav position
    if (scrollPos >= navPos) {
        $navBar.addClass('fixed');
    } else {
        $navBar.removeClass('fixed');
    }

});
</script>

<% content %>

<div class="wrapper row6">
  <footer id="footer1" class="hoc clear"> 
    <div><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQCAQAAADFUcJQAAAAFElEQVR42mNkYGAcRaNoFI2ioYAAsLUBkdmEbfIAAAAASUVORK5CYII=" alt=""></div>
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row7">
<footer id="footer2" class="hoc clear">


        <div class="one_quarter first"><a href="http://www.einsiedlerbier.ch/"><img src="/images/sponsoren/einsiedler.jpg" alt="sponsor"></a></div>
        <div class="one_quarter"><a href="https://www.mobiliar.ch/versicherungen-und-vorsorge/generalagenturen/lachen#gref"><img src="/images/sponsoren/mobiliar.jpg" alt="sponsor"></a></div>
        <div class="one_quarter"><a href="https://www.raiffeisen.ch/einsiedeln/de.html"><img src="/images/sponsoren/raiffeisen.jpg" alt="sponsor"></a></div>
        <div class="one_quarter"><a href="https://www.storen.ch/de"><img src="/images/sponsoren/schenker1.jpg" alt="sponsor"></a></div>
     

 
<!--<div class="sponsoren">						
<ul>
	<li style="width: 20%;"><a href="http://www.einsiedlerbier.ch/"><img src="/images/sponsoren/einsiedler.jpg" alt="sponsor"></a></li>
	<li style="width: 20%;"><a href="https://www.mobiliar.ch/versicherungen-und-vorsorge/generalagenturen/lachen#gref"><img src="/images/sponsoren/mobiliar.jpg" alt="sponsor"></a></li>
	<li style="width: 20%;"><a href="https://www.raiffeisen.ch/einsiedeln/de.html"><img src="/images/sponsoren/raiffeisen.jpg" alt="sponsor"></a></li>
	<li style="width: 20%;"><a href="https://www.storen.ch/de"><img src="/images/sponsoren/schenker1.jpg" alt="schenker storen"></a></li>
	<li style="width: 20%;"><a href="/index.php/sponsoren"><img src="/images/sponsoren/sponsoren.jpg" alt="sponsor"></a></li>
</ul>
</div>-->
</footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      
      
	  <!--<a href="#">Impressum</a><br><a href="#">Datenschutzerkl&auml;rung</a><br>--><a href="/kontakt;kontaktformular">Kontakt</a>
  
    </div>
    <div class="one_third">
	    <ul class="faico clear">
        <li><a class="faicon-facebook" href="https://www.facebook.com/isaf2020/"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
		Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a><br>Powered by <a href="http://perldancer.org/">Dancer</a> 1.3202
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<!--<script src="/layout/scripts/jquery.min.js"></script>-->
<script src="/layout/scripts/jquery.isaf.js"></script>
<script src="/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
