<style type="text/css">
/* DEMO ONLY */
.container .demo{text-align:center;}
.container .demo div{padding:8px 0;}
.container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}
.container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}
@media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
/* DEMO ONLY */
</style>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Fotogallerie</h6>
      <p>Hier finden Sie Bilder zu diversen Anl&auml;ssen:</p>
    </div>
    <div class="group latest">
      <article class="one_third first">
        <figure><a class="imgover" href="/fotos;gallerie1"><img src="/images/prototyp/pellet.jpg" alt=""></a></figure>
        <div class="txtwrap">
          <h4 class="heading">Bilder vom Schwingfest</h4>
          <ul class="nospace meta">
            <li><i class="fa fa-calendar"></i> Letzte Aktualisierung: 02.11.2018</li>
          </ul>
        </div>
      </article>
      <article class="one_third">
        <figure><a class="imgover" href="/fotos;gallerie2"><img src="/images/prototyp/ehrendamen.jpg" alt=""></a></figure>
        <div class="txtwrap">
          <h4 class="heading">Ehrendamen</h4>
          <ul class="nospace meta">
            <li><i class="fa fa-calendar"></i> Letzte Aktualisierung: 02.11.2018</li>
          </ul>
        </div>
      </article>
      <article class="one_third">
        <figure><a class="imgover" href="#"><img src="images/demo/320x220.png" alt=""></a></figure>
        <div class="txtwrap">
          <h4 class="heading">Lebendpreise</h4>
          <ul class="nospace meta">
			  <li><i class="fa fa-calendar"></i> Letzte Aktualisierung: 02.11.2018</li>
          </ul>
        </div>
      </article>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="group latest">

      <div id="gallery" class="isafgallery">
        <figure>
          <header class="heading">ISAF Sponsoring Broschüre Fotos</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/aHRNNpNN.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/sFWan2f3.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/k8WRW6J8.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/eLEJKSfB.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/XDjf1m5u.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/vEJrmnCx.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/fTkBAVNV.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/JgYq5VHi.jpg" alt=""/></a></li>
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/8Je2AyFS.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/yviUCjav.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/2tgwCpEA.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/vQa3tzCF.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/74vEjFB6.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/QDL2YiK4.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/GhNkCcYE.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/4W29kLnP.jpg" alt=""/></a></li>
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/3JY98Wzp.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/1i1Vooxd.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/fD83gc14.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/TmgDcvr7.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/HxpiLjN5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/av2YoeSF.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/L8dAzhZw.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/b2x7BBeH.jpg" alt=""/></a></li>
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/eQ4pd9Eb.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/JBQPqCCY.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/VH4KBDVE.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/RA9ajyko.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/dE7VCALU.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/RnEfHMG6.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/xp3A4ptA.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/KJxSN2og.jpg" alt=""/></a></li>
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/JkjpWXpa.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/UZirn9Bn.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/7GaWY5cL.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/62dg6gkj.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/C9i9M9ZJ.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/Kh5aifyn.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/ngs8y6B1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/gGMHzLjN.jpg" alt=""/></a></li>
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/KmpyRn5B.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/y9cvrJ9X.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/TCbQkQhK.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/Tzt8fynE.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/i1GQ8pFb.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/wBzvDVcN.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/b3quzLjT.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/iSytKhY8.jpg" alt=""/></a></li>
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/WojV4Mdy.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/E4fJc15w.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/k2WmNCbP.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/FWT4DAHs.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/tRaTvHvB.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/dxhw5R2C.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/PV2sLX4W.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/gNAhnBJn.jpg" alt=""/></a></li>
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/ZQrTDSKf.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/CvhcaH5A.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/w49ijFJ1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/5HG6ta5o.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/P75oVagd.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/YzhBow3A.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/w2oWJ2zK.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/3eYkJiKx.jpg" alt=""/></a></li>
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/rFwGhUam.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/TJaRx9Jn.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/JSUWnjsj.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/XxD1oApc.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/Gk5brgUT.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/Ge8Geqo8.jpg" alt=""/></a></li>
            <li class="one_quarter"><a class="example-image-link imgover" href="https://s.put.re/xU1A3c3j.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/cEVDLYeF.jpg" alt=""/></a></li>
            <li class="one_quarter first"><a class="example-image-link imgover" href="https://s.put.re/iYFoD5Cx.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="https://s.put.re/Tdhy6Ydz.jpg" alt=""/></a></li>
          </ul>
          <!--<figcaption>Gallery Description Goes Here</figcaption>-->
        </figure>
      </div>
	  <script src="/dist/js/lightbox-plus-jquery.min.js"></script>
      <script>
		lightbox.option({
		  'alwaysShowNavOnTouchDevices': true,
          'resizeDuration': 1,
		  'imageFadeDuration': 1,
          'wrapAround': true
        })
	  </script>	  
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>





