<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
		<div class="slider">
			<div><img src="https://i.imgur.com/avKwtEB.jpg"></div>
			<div><img src="https://i.imgur.com/MMqowPM.jpg"></div>
			<div><img src="https://i.imgur.com/ApK1kIT.jpg"></div>
			<div><img src="https://i.imgur.com/CnkVOF8.jpg"></div>
			<div><img src="https://i.imgur.com/SXHQWSE.jpg"></div>
			<div><img src="https://i.imgur.com/0GUYSok.jpg"></div>
			<div><img src="https://i.imgur.com/NQMxzLC.jpg"></div>
		</div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>